@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
 font-family: 'Secular One', sans-serif;
}

.wrapper{
  background: #72A8E5;
  min-height: 753px;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
}

.footer{
  flex: 0 1 auto;
}

.entrance .h1{
  text-align: center;
  margin-top: 4%;
  font-family: 'Secular One', sans-serif;
}

.entrance .h3{
  text-align: center;
  font-family: 'Secular One', sans-serif;
}

.img{
  text-align: center;
}

img{
  width: 30%;
  cursor: pointer;
}

.quiz__item{
  max-width: 400px;
  margin: 5% auto;
  font-size: 20px;
}

.question{
  margin: 5% 1%;
}

.quiz button{
  display: block;
  text-align: left;
  width: 100%;
  margin: 3% 1%;
  border-radius: 10px;
}

.congrats{
  width: 30%;
  height: 30%;
  margin: 0 auto;
}

.center{
  text-align: center;
}

.btn-icon{
  margin-left: 4%;
}